body{
	font-family: 'Raleway', sans-serif;
	width: 1000px;
    margin: 0 auto;
}

#external{
			color:rgba(86,100,203,0.5);
			font-size:100px;
			font-style:italic;
			text-align:center;
		}
.nieuwelement{
	color: green;
    font-size: 30px;
    font-style: italic;
    text-decoration: underline;
    background: orange;
    width: 400px;
    text-align: center;
  /*  padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;*/
    /*padding: 20px 15px 10px 0px;*/
	padding:50px 20px;

}

#bloka{
	background:red;
	/*float:left;*/
	position:absolute;
	top:0px;
	left:0px;
}
#blokb{
	background:blue;
	/*float:left;*/
	position:absolute;
	right:0px;
	top:0px;
}
#blokc{
	background:purple;
	/*float:right;*/
	position:absolute;
	bottom:0px;
	left:0px;
}
#blokd{
	background:yellow;
	/*float:right;*/
	position:absolute;
	bottom:0px;
	right:0px;
}
.blok{
	height:100px;
	width:100px;
	color:white;
/*	border-radius: 50%;*/

}
footer{
	position:fixed;
	bottom:0px;
	background: rgba(122,53,54, 0.5);
}